= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :notes
    = f.text_area :notes
  .field
    = f.label :due
    = f.datetime_select :due
  .field
    = f.label :parent
    = f.text_field :parent
  .field
    = f.label :overall_imp
    = f.text_field :overall_imp
  .field
    = f.label :days_imp
  %input#days_imp.slider{"data-slider-min"=>"1", "data-slider-max"=>"10", "data-slider-step"=>"1", "data-slider-value"=>"3"}
  %span#daysImpSliderLabel
    Current Slider Value:
    %span#daysImpSliderVal 3
  .field
    = f.label :weeks_imp
    = f.text_field :weeks_imp
  .field
    = f.label :ever_imp
    = f.text_field :ever_imp
  .field
    = f.label :sib_order
    = f.text_field :sib_order
  .field
    = f.label :exp_dur_mins
    = f.text_field :exp_dur_mins
  .field
    = f.label :min_dur_mins
    = f.text_field :min_dur_mins
  .field
    = f.label :tag_list, "Tags (separated by commas)"
    = f.text_field :tag_list
  .actions
    = f.submit 'Save'
