%tr
  %td{class: "break-text", style: "padding-left: .1rem; padding-right: .1rem; padding-top: .5rem; padding-bottom: .6rem; vertical-align: middle; line-height: 1em; width: 100%"}
    = link_to task_path(task), {class: "action-rollover-link"} do
      = task.name
    / v:
  /   = "%.2f" % task.vital
  /   i:
  /   = "%.2f" % task.immediate
  /   h:
  /   = "%.2f" % task.heavy
  /   l:
  /   = "%.2f" % task.long
  / %td{style: "padding: .4em"}= "%.2f" % task.get_session_rand!
  / %td{style: "padding: .4em"}= "%.2f" % task.attempts_report_done_amount
  / %td{style: "padding: .2em"}= "%.2f" % task.postponed_recently_amount
  / %td{style: "padding: .4em"}= "%.2f" % task.addressed_recently_amount
  / %td{style: "padding: .4em"}= "%.2f" % task.position_amount
  - listable_circle_cell(task.vital, "#09bc36")
  - listable_circle_cell(task.immediate, "#f9d507")
  - listable_circle_cell(task.heavy, "#ed1409")
  - listable_circle_cell(task.long, "#1061e5")
  %td{style: "padding-left: .1rem; padding-right: .1rem; padding-top: .3rem; padding-bottom: .5rem; vertical-align: top;"}
    = link_to task_path(task), {class: "list-action-link"} do
      .list-action-logo
        = fa_icon "play-circle"
  %td{style: "padding-left: .1rem; padding-right: .1rem; padding-top: .1rem; padding-bottom: .5rem; vertical-align: top;"}
    = link_to task_path(task), {:method => :delete, :data => { :confirm => 'Are you sure?' }, class: "list-action-link"} do
      .list-action-logo
        = fa_icon "times"
  %td{style: "padding-left: .1rem; padding-right: .1rem; padding-top: .3rem; padding-bottom: .5rem; vertical-align: top;"}
    = link_to edit_task_path(task, tag: @tag_name), {id: "edit_link", class: "list-action-link"} do
      .list-action-logo
        = fa_icon "pencil"
  %td{style: "padding-left: .1rem; padding-right: .1rem; padding-top: .3rem; padding-bottom: .5rem; vertical-align: top;"}
    = link_to task_done_path(task), {method: :post, class: "list-action-link"} do
      .list-action-logo
        = fa_icon "check"
