%tr
  %td{style: "padding: .4em"}= task.name
  %td{style: "padding: .4em"}= "%.2f" % task.get_importance!
  %td{style: "padding: .4em"}
    d:
    = "%.2f" % task.days_imp
    w:
    = "%.2f" % task.weeks_imp
    e:
    = "%.2f" % task.ever_imp
  %td{style: "padding: .4em"}= "%.2f" % task.random_amount
  %td{style: "padding: .4em"}= "%.2f" % task.attempts_report_done_amount
  %td{style: "padding: .2em"}= "%.2f" % task.postponed_recently_amount
  %td{style: "padding: .4em"}= "%.2f" % task.addressed_recently_amount
  %td{style: "padding: .4em"}= "%.2f" % task.position_amount
  %td{style: "padding: .4em"}= link_to 'Show', task
  %td{style: "padding: .4em"}= link_to 'Edit', edit_task_path(task)
  %td{style: "padding: .4em"}= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }
