/ Tags:
/ %ul
/   %li
/     - tag_with_links("all", (!defined?(@tag) || @tag.nil?), false)
/   - ActsAsTaggableOn::Tag.all.order(taggings_count: :desc).each do |tag|
/     %li
/       - tag_with_links(tag.name, (tag == @tag), true)


= link_to next_task_path( (defined?(@tag) && @tag.present?) ? @tag.name : ""), {class: "action-link"} do
  .action-logo
    = fa_icon "play-circle"
  .shortcut-link Start
= link_to new_task_path(tag: @tag_name), {id: "new_link", class: "action-link"} do
  .action-logo
    = fa_icon "lightbulb-o"
  .shortcut-link New Task

= react_component("TasksApp")

/ %p all tasks:
%table{class: "table", style:"margin-top: 6rem"}
  %thead
    %tr
      %th{class: "col-xs-4 col-md-4 list-header-text"} Task
      %th{class: "col-xs-1 col-md-1 list-header-text"} Vital
      %th{class: "col-xs-1 col-md-1 list-header-text"} Imm.
      %th{class: "col-xs-1 col-md-1 list-header-text"} Heavy
      %th{class: "col-xs-1 col-md-1 list-header-text"} Long
      %th{class: "col-xs-1 col-md-1 list-header-text"} Start
      %th{class: "col-xs-1 col-md-1 list-header-text"} Del.
      %th{class: "col-xs-1 col-md-1 list-header-text"} Edit
      %th{class: "col-xs-1 col-md-1 list-header-text"} Done
  %tbody
    - @ordered_tasks.each do |task|
      = render partial: 'listable_task', locals: {task: task}

