Debug info:
%p
  current_session_user_id_debug:
  = @current_session_user_id_debug
%p
  current_user_from_session_debug:
  = @current_user_from_session_debug
%p
  current_user_debug:
  = @current_user_debug
%p
  current_user_found_debug
  = @current_user_found_debug
%p
  current_user_registered_debug
  = @current_user_registered_debug



Tags:
%ul
  %li
    - tag_with_links("all", (!defined?(@tag) || @tag.nil?), false)
  - ActsAsTaggableOn::Tag.all.order(taggings_count: :desc).each do |tag|
    %li
      - tag_with_links(tag.name, (tag == @tag), true)

- if defined?(@tag) && @tag.present?
  %p= link_to "start", next_task_path(tag: @tag.name), style: "font-size: 2em"
  %p #{@tag.name} tasks:
- else
  %p= link_to "start", next_task_path, style: "font-size: 2em"
  %p all tasks:
  %table
    %tr
      %td{style: 'padding: .4em; vertical-align: bottom'} Task
      %td{style: 'padding: .4em; vertical-align: bottom'} Overall
      %td{style: 'padding: .4em; vertical-align: bottom'} Days-Weeks-Ever
      %td{style: 'padding: .4em; vertical-align: bottom'} Rand
      %td{style: 'padding: .4em; vertical-align: bottom'} Doneness
      %td{style: 'padding: .4em; vertical-align: bottom'} Postponed-ness
      %td{style: 'padding: .4em; vertical-align: bottom'} Addressed-ness
      %td{style: 'padding: .4em; vertical-align: bottom'} Position-ness
      %td{style: 'padding: .4em; vertical-align: bottom'} Actions
      %td{style: 'padding: .4em; vertical-align: bottom'}
      %td{style: 'padding: .4em; vertical-align: bottom'}
    - @ordered_tasks.each do |task|
      = render partial: 'listable_task', locals: {task: task}

New task:
= link_to 'New Task', new_task_path

