Tags:
%ul
  %li
    - tag_with_links("all", (!defined?(@tag) || @tag.nil?), false)
  - ActsAsTaggableOn::Tag.all.order(taggings_count: :desc).each do |tag|
    %li
      - tag_with_links(tag.name, (tag == @tag), true)

- if defined?(@tag) && @tag.present?
  %p= link_to "start", next_task_path(tag: @tag.name), style: "font-size: 2em"
  %p #{@tag.name} tasks:
- else
  %p= link_to "start", next_task_path, style: "font-size: 2em"
  %p all tasks:
- @ordered_tasks.each do |task|
  = render partial: 'single_task', locals: {task: task}

New task:
= link_to 'New Task', new_task_path

