!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}
    %title Prioritizer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    #outer-central-container
      #inner-central-container
        = render partial: "nav/navigation"
        #main
          - if notice.present?
            %p.notice= notice
          - if alert.present?
            %p.alert= alert
          = react_component("TasksApp", props: {user_id: current_user.id})
          = yield
